@import '~antd/es/style/themes/default.less';

.SpaceCenter {
  height: calc(100%);
}
.treeRight {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

// .tableStyle {
//   padding-top: 16px;
// }

.errorText {
  color: @error-color;
}

.cardStyle {
  :global {
    .ant-card-body {
      padding-top: 0;
    }
    .ant-table {
      height: calc(100vh - 310px) !important;
      overflow: auto;
    }
  }
}
